@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
    background-color: rgba(154, 77, 159, 1);
    background-image: url("img/Mask\ Group\ 3.png");
    background-repeat: no-repeat;
    background-position: top -2rem left -10rem;
    background-size: 95vh;
    margin: 0px;
    padding: 0px;
    font-family: montserrat;
}
/* skeleton layout using grid*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr  1.5fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "fish fish container2"
    "about time location"
    "map map map";
}
.container2 {
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-area: container2;
}
nav {
    
    grid-area: nav;
}
#fish {
    
    grid-area: fish;
}
#tickets {
}
#about {
    grid-area: about;
    text-align: center;
    padding: 10px;
}
#time {
    grid-area: time;
    text-align: center;
    padding: 10px;
}
#location {
    grid-area: location;
    text-align: center;
    padding: 10px;
}
#map {
    grid-area: map;
    background-image: url("img/google.png");
    background-size: 150%;
    display: flex;
    align-items: center;
    background-position: top 20px right 0px;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 786px) { /* tablets */
    .container {
        height: 180vh;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 1.1fr;
        grid-template-areas: 
        "nav"
        "fish"
        "container2"
        "about"
        "time"
        "location"
        "map";
    }
    .container2 {
        grid-template-columns: .3fr 1fr;
        grid-template-rows: 1fr;

    }
}
@media only screen and (max-width: 481px) { /* phones */
    .container {
        height: 180vh;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 1.1fr;
        grid-template-areas: 
        "nav"
        "fish"
        "container2"
        "about"
        "time"
        "location"
        "map";
    }
    .container2 {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr 1fr;
    }
}
/* nav bar */
#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_items {
    list-style: none;
}
.nav_items li {
    display: inline-block;
    padding: 0px 5px;
    color: white;
    font-family: montserrat;
    font-style: bold;
    font-size: .75rem;
}
button {
    font-family: montserrat;
    font-size: .75rem;
    font-style: bold;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 2px;
}
/* calender */
#calender {
    background-color: rgba(209, 209, 209, 0.2);
    margin: -20px 100px;
    max-width: 80px;
    min-width: 80px;
    text-align: center;
    border-radius: .5rem;
    font-family: montserrat;
    font-size: 2.44rem;
    color: white;

}
#calender p {
    padding: .1px;
}
#calender a {
    font-size: 1rem;
    font-weight: lighter;
}
#container2-content {
    text-align: center;
}
#cont2-content-1 {
    font-size: 2rem;
}
#cont2-content-2 {
    font-size: 1.5rem;
    color: white;
}
#pin {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#container2-content button{
    font-weight: bold;
    font-size: 1.05rem;
    background-color: black;
    border: none;
    border-radius: 25px;
    width: 230px;
    height: 40px;
}